{% extends 'base.html' %}
{% block content  %}
    <h1>Управление пользователями</h1>
{% for user in users %}
<div>
<p id="username-{{ user.id }}" class="username {% if not user.is_active %} blocked {% endif %} ">
    Имя: {{ user.username }}
</p>
<form method="POST" style="display: none" id="form-{{ user.id}}">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ user.id }}">
    {% if user.is_active %}
        <button name="action" value="block">Заблокировать</button>
        <button name="action" value="delete">Удалить</button>
    {% else %}
        <button name="action" value="unblock">Разблокировать</button>
        <button name="action" value="delete">Удалить</button>
    {% endif %}
</form>
</div>
{% endfor %}

<style>
    .blocked {
        color: red;
    }
</style>

<script>
    document.querySelectorAll('.username').forEach(username => {
        username.addEventListener('click', function(){
            const userId = this.id.split('-')[1];
            const form = document.getElementById('form-' + userId);
            form.style.display =
                (form.style.display === 'none' || form.style.display === '')
                ? 'inline' : 'none';
        });
    });
</script>
{% endblock %}